<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <main>
      <form action='/complete' method='post'>
      <fieldset>
        <legend>Email Submission (fake)</legend>
        <label for='name'>Enter name: </label>
        <input id='name-input' type='text' name='name' placeholder='Enter your name' value='' required/>
        <br>
        <label for='email'>Enter email: </label>
        <input id='email-input' type='email' name='email' placeholder='you@somewhere.outthere' value='' required />
        <br>

        <label for="phone">Enter phone:</label>
        <input type="phone" id="phone" placeholder="555.555.5555" name='phoneNumber'>
        <br>

        <label for="subject">Subject:</label>
        <input type="text" id="subject" placeholder="Subject" name='subject' value=''>
        <br>

        <label for="date">Date</label>
        <input type="date" name="contactBy" value="" name='date' id='date'>
        <br>

        <label for="message">Enter your message here:</label><br>
        <textarea name='message' cols='30' rows='10'></textarea>
        <br>

        <input type='submit' value='Send Email' />
      </fieldset>
      </form>
      <code>/* <br>todo:<br> Create 'phone' input,<br> textarea for 'message',<br> styling<br> */</code>

    </main>
  </body>
</html>
